@media(max-width: 1024px) {
    .logo {
        margin: 0 6vw;
    }

    .logo_firstword {
        font-size: 5.5vw;
    }

    .logo_otherwords {
        font-size: 2.55vw;
    }

    .header_bold_text {
        font-size: 2.1vw;
    }

    .button {
        font-size: 2.1vw;
        border-radius: 5px;
    }

    .inline_svg_mappin {
        height: 2.2vw;
        margin-left: 1vw;
    }

    .inline_svg_phone {
        width: 2.2vw;
        margin-left: 1vw;
    }

    .nav_link.hideable.one {
        display: none;
    }

    .nav_button {
        height: 2vw;
        width: 2vw;
        display: inherit;
    }

    .menu {
        height: 5.5vw;
    }

    .nav_text {
        font-size: 2.5vw;
        justify-content: space-between;
        padding: 0 1.8vw 0 3.6vw;
    }

    .nav_button {
        height: 3.75vw;
        width: fit-content;
        display: inline;
    }
}

@media(max-width: 768px) {
    .logo {
        margin: 0 5vw;
    }

    .header_buttons {
        flex-direction: column;
    }

    .logo_firstword {
        font-size: 7vw;
    }

    .logo_otherwords {
        font-size: 3.22vw;
    }

    .header_bold_text {
        font-size: 2.8vw;
    }

    .button {
        font-size: 2.8vw;
        border-radius: 4px;
        padding: 1.15vw 1.6vw;
        width: 33vw;
    }

    .inline_svg_mappin {
        height: 2.9vw;
        margin-left: 1.25vw;
    }

    .inline_svg_phone {
        width: 2.9vw;
        margin-left: 1.25vw;
    }

    .nav_link.hideable.two {
        display: none;
    }

    .menu {
        height: 7vw;
    }

    .nav_text {
        font-size: 3.1vw;
        padding: 0 2.225vw 0 4.45vw;
    }

    .nav_button {
        height: 4.65vw;
    }

    .banner {
        justify-content: space-evenly;
    }

    .banner_list_container {
        width: 41vw;
    }
    .banner_list {
        font-size: 3.3vw;
    }
    .banner_images {
        height: 80vw;
        flex-direction: column;
        align-items: center;
    }
    .banner_image {
        height: 50%;
        width: fit-content;
    }
    .banner_left_part_mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: fit-content;
    }
    .three_advantages {
        display: none;
    }
    .three_advantages.mobile {
        display: flex;
        height: 35vw;
        width: 35vw;
        margin-top: 3.5vw;
        margin-bottom: 2.2vw;
        justify-content: space-between;
    }

    .logo_container {
        padding-right: 3.96vw;
    }
    .advantage_logo {
        width: 7.57vw;
    }

    .advantage_logo_bus {
        width: 9.6vw;
    }

    .title_advantage_text {
        font-size: 3.445vw;
    }

    .additional_text {
        font-size: 2.375vw;
    }
}

@media(max-width: 480px) {
    .logo {
        margin: 0 4vw;
    }

    .logo_firstword {
        font-size: 8.33vw;
    }

    .logo_otherwords {
        font-size: 3.88vw;
    }

    .header_bold_text {
        font-size: 3.25vw;
    }

    .button {
        font-size: 3.25vw;
        border-radius: 3px;
        padding: 1.4vw 1.95vw;
        width: 37.5vw;
    }

    .inline_svg_mappin {
        height: 3.5vw;
        margin-left: 1.5vw;
    }

    .inline_svg_phone {
        width: 3.5vw;
        margin-left: 1.5vw;
    }

    .nav_link.hideable.three {
        display: none;
    }

    .menu {
        height: 9vw;
    }

    .nav_text {
        font-size: 3.9vw;
        padding: 0 2.8vw 0 5.6vw;
    }

    .nav_button {
        height: 6vw;
    }

    .banner {
        justify-content: space-between;
    }

    .banner_list_container {
        width: 46.6vw;
    }

    .banner_list {
        font-size: 3.75vw;
    }

    .banner_images {
        height: 91vw;
    }

    .three_advantages.mobile {
        height: 40vw;
        width: 40vw;
        margin-top: 4vw;
        margin-bottom: 2.5vw;
    }

    .logo_container {
        padding-right: 4.5vw;
    }

    .advantage_logo {
        width: 8.6vw;
    }

    .advantage_logo_bus {
        width: 10.9vw;
    }

    .title_advantage_text {
        font-size: 3.92vw;
    }

    .additional_text {
        font-size: 2.7vw;
    }

  
}
